<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="settingsForm.value.matricula">
        Configurações de usuário [<strong>{{ settingsForm.value.matricula }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Perfil alterado com sucesso!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.matricula" novalidate>
        <div class="mb-3">
          <label class="form-label" for="nome">Primeiro nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Seu primeiro nome..."
            formControlName="nome"
            data-cy="nome"
          />

          <div *ngIf="settingsForm.get('nome')!.invalid && (settingsForm.get('nome')!.dirty || settingsForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('nome')?.errors?.required"> O primeiro nome é obrigatório </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('nome')?.errors?.minlength">
              Seu primeiro nome tem que ter ao menos 1 caractere
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('nome')?.errors?.maxlength">
              Seu primeiro nome não pode ter mais que 50 caracteres
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="sobrenome">Sobrenome</label>
          <input
            type="text"
            class="form-control"
            id="sobrenome"
            name="sobrenome"
            placeholder="Seu sobrenome..."
            formControlName="sobrenome"
            data-cy="sobrenome"
          />

          <div
            *ngIf="
              settingsForm.get('sobrenome')!.invalid && (settingsForm.get('sobrenome')!.dirty || settingsForm.get('sobrenome')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('sobrenome')?.errors?.required"> O sobrenome é obrigatório </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('sobrenome')?.errors?.minlength">
              O sobrenome tem que ter ao menos 1 caractere
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('sobrenome')?.errors?.maxlength">
              O sobrenome não pode ter mais que 50 caracteres
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Seu email..."
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required"> O email é obrigatório. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> O email é inválido. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              O email tem que ter mais que 5 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              O email não pode ter mais que 50 caracteres
            </small>
          </div>
        </div>

        <div class="col-12 col-sm-4 p-4">
          <jhi-show-image [inputName]="'imagem'" [imagem]="imagem" [editable]="true"></jhi-show-image>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Salvar</button>
      </form>
    </div>
  </div>
</div>
