<div>
  <h2 id="page-heading" data-cy="DenunciaHeading">
    <span>Denúncias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar Lista</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="denuncias?.length === 0">
    <span>Nenhuma denúncia encontrada!</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="denuncias && denuncias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="motivo">
            <div class="d-flex">
              <span>Motivo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avaliacao.id">
            <div class="d-flex">
              <span>Avaliação</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avaliacao.id">
            <div class="d-flex">
              <span>Usuário que realizou Avaliação</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let denuncia of denuncias; trackBy: trackId" data-cy="entityTable">
          <td>{{ denuncia.motivo }}</td>
          <td>
            <div *ngIf="denuncia.avaliacao">
              <a style="color: #3e8acc" [routerLink]="['/avaliacao', denuncia.avaliacao.id, 'view']">{{ denuncia.avaliacao.descricao }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="denuncia.avaliacao">
              <a style="color: #3e8acc" [routerLink]="['/user', denuncia.avaliacao.user.id, 'view']">{{ denuncia.avaliacao.user.nome }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" (click)="delete(denuncia)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Deletar denúncia</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
