<div>
  <h2 id="page-heading" data-cy="AvaliacaoHeading">
    <span>Avaliações dos Usuários</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar Lista</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="avaliacoes?.length === 0">
    <span>Nenhuma avaliação foi realizada</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="avaliacoes && avaliacoes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex">
              <span>ID do usuário</span>
              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Matrícula do usuário</span>
              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Nome do usuário</span>
              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>ID da avaliação</span>
              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Descrição da Avaliação</span>
              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Nota da Avaliação</span>
              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avaliacao of avaliacoes" data-cy="entityTable">
          <td>{{ avaliacao.userId }}</td>
          <td>{{ avaliacao.userMatricula }}</td>
          <td>{{ avaliacao.userNome }} {{ avaliacao.userSobrenome }}</td>
          <td>{{ avaliacao.avaliacaoId }}</td>
          <td>{{ avaliacao.avaliacaoDescricao }}</td>
          <td>{{ avaliacao.avaliacaoNota }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
